{{ $title := .Title | default site.Title }}
{{ $description := .Description | default .Summary | default site.Params.description | default site.Title }}
{{ $image := .Params.image | default site.Params.image | default "images/logo.png" }}
{{ $url := .Permalink | default site.BaseURL }}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ $url }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
{{ with $image }}
<meta property="og:image" content="{{ absURL . }}">
{{ end }}
<meta property="og:site_name" content="{{ site.Title }}">
{{ with site.LanguageCode }}
<meta property="og:locale" content="{{ . }}">
{{ end }}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ $url }}">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
{{ with $image }}
<meta name="twitter:image" content="{{ absURL . }}">
{{ end }}
{{ with site.Params.twitter }}
<meta name="twitter:site" content="@{{ . }}">
{{ end }}

<!-- Article specific meta -->
{{ if .IsPage }}
{{ with .PublishDate }}
<meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
{{ end }}
{{ with .Lastmod }}
<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
{{ end }}
{{ with .Params.author }}
<meta property="article:author" content="{{ . }}">
{{ end }}
{{ with .Params.tags }}
{{ range . }}
<meta property="article:tag" content="{{ . }}">
{{ end }}
{{ end }}
{{ end }}

<!-- Basic SEO Meta Tags -->
<meta name="description" content="{{ $description }}">
{{ with .Params.tags }}
<meta name="keywords" content="{{ delimit . ", " }}">
{{ end }}
{{ with .Params.author }}
<meta name="author" content="{{ . }}">
{{ end }}
<link rel="canonical" href="{{ $url }}">