{{/* Style Partial */}}
<!-- Main CSS -->
{{ $style := resources.Get "css/style.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

<!-- Custom CSS -->
{{ range site.Params.custom_css }}
<link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}

<style>
/* Inline critical CSS */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>